<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset = "UTF-8">
    <meta name="form">
    <title>Formulaire</title>
</head>
    <body>
        <header>
            <h1>Formulaire - Flask01</h1>
        </header>
        <div>
            <form action="/envoyer" method="POST">
                <label for="fnom">Nom : </label>
                <input type="text" id="fnom" name="fnom" placeholder="votre nom"><br>
                <label for="fprenom">Prénom : </label>
                <input type="text" id="fprenom" name="fprenom" placeholder="votre prénom"><br><br>
                
                <label for="choix">Language de programmation préféré: </label><br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html">HTML</label><br>
                <input type="radio" id="css" name="fav_language" value="CSS">
                <label for="css">CSS</label><br>
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label><br><br>

                <label>Quelle est votre langue marternelle ?</label><br>
                <select name="langue">
                    <option valeur="fr">Français</option>
                    <option valeur="en">Anglais</option>
                    <option valeur="esp">Espagnol</option>
                    <option valeur="ara">Arabe</option>
                    <option valeur="autre">Autre</option>
                </select><br><br>
                
                <input type="reset" value="Vider">
                <input type="submit" value="Envoyer">

            </form>
        </div>
    </body>
</html>