{% extends "layout.html" %}
{% block title %}MesArticles.ca : Recherche '{{ search }}'{% endblock %}
{% block content %}
<main>
  <br>
  <div class="container">
    <h3 class="pb-3 mb-4 font-italic border-bottom">Résultat(s) de la recherche '{{ search }}'</h3>
    <div class="row container justify-content-center ">
    {% for article in articles %}
      <div class="col-sm-4 mb-4 mb-sm-12">
        <div class="card">
          <div class="card-body back-purple">
            <h5 class="card-title "><a class ="search-link" href={{url_for('display_article',identifiant=article['identifiant'])}}>{{ article['titre'] }}</a></h5>
            <p class="card-text">{{ article['date_publi'] }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <br>
</main>
{% endblock %}
