<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Dossier Médical</title>
        <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Dossier Médical</h1>
            <hr>
            <p>ID: <span th:text="${attributs[0]['id']}"></span></p>
            <p>Nom: <span th:text="${attributs[0]['nom']}"></span></p>
            <p>Prénom: <span th:text="${attributs[0]['prenom']}"></span></p>
            <p>Date de naissance: <span th:text="${attributs[0]['date_naissance']}"></span></p>
        </div>

        <br>

        <div class="container">
            <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Se déconnecter</a>
        </div>
        <footer class="footer">
            <p>© 2023 Dossier Médical Québec</p>
        </footer>
    </body>
</html>