<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dossier Médical Québec</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>Dossier Médical Québec</h1>
</header>
<hr>
<br>
<main class="container">
    <form action="/identification" method="post">
        <div class="form-group">
            <label for="id">Entrez votre ID:</label>
            <input type="text" id="id" name="id" required>
        </div>
        <button class="btn btn-primary" type="submit">S'identifier</button>
    </form>
</main>
<footer class="footer">
    <p>© 2023 Dossier Médical Québec</p>
</footer>
</body>
</html>
